main{
  max-width: 1200px;
  min-height: 100vh;
  background-color: antiquewhite;
  margin: auto;
  position: relative;
}
.searchButton{
  padding: 5px 10px;
  height: 54px;
  position: relative;
  top: 3px;
  margin-left: 10px;
}
.popular{
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.recomend{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  border: 1px solid gray;
}
.wrapperBuscador{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buscador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  align-items: center;
  margin-top: 220px;
}